@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #232222;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html[data-theme='dark'] .text-white {
  color: black
}

html[data-theme='light'] .bg-slate-900 {
  background-color: #d3cbcb;
}

html[data-theme='light'] .card-box-shadow {
  box-shadow: 0px 1px 20px 2px black;
}

html[data-theme='light'] .card-box-shadow:hover {
  box-shadow: inset 0px 1px 20px 2px black;
}

html[data-theme='dark'] .card-box-shadow {
  box-shadow: 0px 1px 20px 2px white;
}

html[data-theme='dark'] .card-box-shadow:hover {
  box-shadow: inset 0px 1px 20px 2px white;
}